<!DOCTYPE html>
<html>
<head>
    <title>My Notes</title>
</head>
<body>
    <h1>My Notes</h1>
    <a href="/add">Add New Note</a>
    <br><br>

    <form method="get">
        <input type="text" name="search" placeholder="Search notes...." value="{{ request.args.get('search', '') }}">
        <button type="submit">Search</button>
    </form>
    <br>

    {% for note in notes %}
        <div>
            <h3>{{ note[1] }}</h3>
            <p>{{ note[2] }}</p>
            <p> <small>Created on: {{ note[3] }}</small></p>
            <a href="/edit/{{ note[0] }}">Edit</a>
            <a href="/delete/{{ note[0] }}">Delete</a>
        </div>
        <hr>
    {% else %}
        <p>Empty. Add note first!</p>
    {% endfor %}

</body>
</html>